@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100vh;
  width: 100vw; 
}

/* Apply styles to the div that scrolls */
.content-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 60px); /* Adjust height dynamically based on the header */
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #4CAF50, #2E7D32);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #388E3C, #1B5E20);
}
